# Package Manager-related
/vendor/
/demos/vendor/
/node_modules/
# IDE-related
/.history/
# OS related
**/.DS_Store
# Used internally by Git hooks
cghooks.lock
/.commit
/.vscode
/demos/vendor
/demos/blog/storage/twig-cache
/demos/virtual-filesystem/storage/page-cache.html
.github/agents/Edit.agent.md
events.log
/coverage-report-unit
/coverage-report-integration
data.xml.lock
cache.php
